body 
{
  font-family: 'Poppins', sans-serif;
  
}
.navbar
{
  background-color: rgb(226,237,253);
}
.fs-min
{
  font-size: 1.125rem;
}
.baslik-div 
{
  span
  {
    background: linear-gradient(169.4deg, #3984F4 -6.01%, #0CD3FF 36.87%, #2F7CF0 78.04%, #0E65E8 103.77%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  p
  {
    &:first-child
    {
      text-transform: uppercase;
      background: linear-gradient(136.91deg, #468EF9 -12.5%, #0C66EE 107.5%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
  }
}
header
{
  background-color: rgb(226,237,253);
  @media (min-width: 1400px) 
  {
    height:900px;
  }
  @media (max-width:1400px) and (min-width:1201px) 
  {
    height: 600px;
  }
  @media (max-width:1200px) and (min-width:993px) 
  {
    height: 500px;
  }
  @media (max-width:992px) and (min-width:769px) 
  {
    height: 450px;
  }
  @media (min-width:576px) and (max-width:768px) 
  {
    height: 500px;
  }
  @media (max-width:575px) 
  {
    height: 400px;
  }
}
.trending
{
  &::before
  {
    content: "🔥 ";
  }
}
.top-gainers
{
  &::before
  {
    content: "🚀 ";
  }
}
.recently-added
{
  &::before
  {
    content: "💎  ";
  }
}
.more
{
  color: rgba(47, 124, 240, 1);
  text-decoration: none;
}
table
{
  width: 100%;
}
td
{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.c-green
{
  color:rgba(40, 193, 101, 1);
}
.c-red
{
  color: rgba(244, 87, 77, 1);
}
.trade-div
{
  border: 1px solid blue;
}
.trade-text
{
  background-color: white !important;
  color: blue;
}
.company-div
{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) -9.25%, rgba(255, 255, 255, 0.6) -9.25%, rgba(244, 249, 255, 0.7) 108.74%),url(images/partners-bg.png);
  background-size: cover;
  border-radius: 30px;
}
.h-70
{
  height: 70px;
}
.introducing-baslik
{
  span
  {
    background: linear-gradient(rgba(57, 132, 244, 1),rgba(12, 211, 255, 1),rgba(47, 124, 240, 1),rgba(14, 101, 232, 1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}
.fa-check-circle
{
  color: rgba(47, 124, 240, 1);
}
.trading-div
{
  background: url(images/tools-bg.png);
  background-size: cover;
  border-radius: 50px;
}
.trading-baslik
{
  span
  {
    background: linear-gradient(rgba(57, 132, 244, 1),rgba(12, 211, 255, 1),rgba(47, 124, 240, 1),rgba(14, 101, 232, 1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
}
.get-started-div
{
  background:url(images/tools-bg.png);
  background-size: cover;
  border-radius: 50px;
}
.accordion-button
{
  background-color: transparent !important;
}
.btn-back
{
  color: rgba(102, 102, 102, 1);
  border-color: rgba(221, 221, 221, 1);
}
.border-div-1
{
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray
}
.border-div-2
{
  border-right: 1px solid lightgray;
}
.border-div-3
{
  border-right: 1px solid lightgray;
}
.border-div-4
{
  border-right: 1px solid lightgray;
}
.credit-advantages 
{
  li
  {
    &::marker
    {
      content: "";
    }
  }
}
.my-7
{
  margin-top: 8rem;
  margin-bottom: 8rem;
}
tr
{
  border-bottom: 1px solid lightgrey !important;
}
tr
{
  &:first-child
  {
    border: 0 !important;
  }
  &:last-child
  {
    border: 0 !important;
  }
}
.star-div
{
  position: absolute;
}
.ellipse-div
{
  position: absolute;
}
.crypto-table
{
  position: relative;
  width: 100%;
}